/* Reset margins and paddings for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Ensure html and body take full height and width */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: scroll; /* Allow vertical scrolling */
  scrollbar-width: none;
   /* Hide scrollbar in Firefox */
}



/* Ensure #root fills the viewport */
#root {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent content overflow from #root */
}

/* Ensure all direct children of #root take full size */
#root > * {
  width: 100%;
  height: 100%;
}

/* Hide scrollbar for WebKit browsers */
html::-webkit-scrollbar {
  display: none;
}
